/node_modules
/storage/*.key
/vendor
/public/candidato_vaga
/public/gabaritos
/public/resultado_por_curso
/public/nota_primeiro_ultimo
/public/resultado_*.zip
/public/gabaritos_*.zip
/public/candidato_vaga_*.zip
/public/nota_primeiro_ultimo*.zip
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.htaccess
composer.lock
mix-manifest.json
.htaccess
