a.current { background: #3699FF; color: white; padding: 5px 10px; }
.center{ text-align: center; }
.modal-top{ margin-top: 150px !important; }
.box-btn-acoes-col2{width: 70px;}
.box-btn-acoes-col3{width: 100px;}
.table-dashboard tr td { padding: 4px;}
.paginate_button { padding: 5px;}
  .paginate_button:hover { cursor: pointer;}
.dataTables_paginate {margin-right: 10px;}